$color-black: #282828;
$color-main-yellow: #f5d146;
$color-sub-yellow: #f5e4a6;
$color-red: #D43325;
$color-dark-bk-bl: #191b1f;
$color-dark-yellow: #9c7c02;
$color-white: #f7f7f7;
$color-dark-blue: #102d9f;
